.login-container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spotify-logo {
    margin-bottom: 2rem;
    width: 90%;
    height: auto;
   
    padding: 1rem;
}

.login-bton{
   
    background-color: #1ed760 ;
    color: #fff;
    padding: 16px 22px;
    text-decoration: none; 
    border-radius: 99px;  
}

